---
import Layout from "../layouts/Layout.astro";
import ContentBody from "../components/ContentBody.astro";
import { getCollection, render } from "astro:content";

const entries = await getCollection("content");
const entry = entries.find((e) => e.id === "sentiment");
const rendered = entry ? await render(entry) : null;
---

<Layout title={entry?.data.title}>
  {
    rendered && (
      <main>
        <ContentBody updated={entry?.data.updated} title={entry?.data.title}>
          <rendered.Content />
        </ContentBody>
      </main>
    )
  }
</Layout>

<style is:global>
  main {
    padding: 8rem 2rem;
  }

  @media (max-width: 768px) {
    main {
      padding: 1rem;
    }
  }
</style>
